GROQ_API_KEY=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
OPENAI_API_KEY=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
ANTHROPIC_API_KEY=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
