streamlit>=1.32.0
numpy==1.26.4
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
openai>=1.14.0
anthropic>=0.20.0
rouge-score>=0.1.2
python-dotenv>=1.0.0
pandas>=2.1.0
requests>=2.31.0
